<div class="container">
  <div class="container-content">
    <h1 class="title">Setup <span class="s-title">TIC</span> Tac Toe</h1>

    <!-- Label for player type selection -->
    <label class="section-label">Select Player Type:</label>
    <div class="radio-container">
      <div
        class="radio-card"
        [class.selected]="playerType === 'X'"
        (click)="selectPlayerType('X')"
      >
        X
      </div>
      <div
        class="radio-card"
        [class.selected]="playerType === 'O'"
        (click)="selectPlayerType('O')"
      >
        O
      </div>
    </div>


    <!-- Label for grid size selection -->
    <label *ngIf="gridSizes.length > 1" class="section-label">Select Grid Size:</label>
    <div *ngIf="gridSizes.length > 1" class="carousel-container">
      <div
        *ngFor="let size of gridSizes"
        class="carousel-item"
        [class.selected]="gridSize === size"
        (click)="selectGridSize(size)"
      >
        {{ size }}x{{ size }}
      </div>
    </div>

    <button (click)="startGame()">Start Game</button>
  </div>
</div>
