.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container-content {
  display: flex;
  min-width: 50%;
  min-height: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(1, 1, 1, 1);
}

.title {
  color: #412888;
  font-size: 2rem;
  font-weight: bold;
}

.s-title {
  color: #ffa086;
}

/* Style for section labels */
.section-label {
  margin: 10px 0 5px;
  font-size: 1.2rem;
  color: #333;
}

.radio-container {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.radio-card {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  background-color: #7ccad7;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.radio-card.selected {
  background-color: #412888;
}

.carousel-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

.carousel-item {
  flex: 0 0 auto;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  background-color: #ffa086;
  color: white;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  scroll-snap-align: start;
}

.carousel-item:hover {
  background-color: #c67863;
}

.carousel-item.selected {
  background-color: #c97c66;
}

.carousel-item.selected:hover {
  background-color: #ab6856;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #1c1258;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #120c3a;
}

@media screen and (max-width: 768px) {
  .container-content {
    min-width: 80%;
  }

  .radio-container {
    width: 80px;
  }

  .radio-card {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .carousel-item {
    width: 80px;
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
  }
}
